{% extends 'base.html' %}


{% block content %}
 <!-- في المكان ده هحط المحتوى -->
 <div style="direction: rtl;" class="wrapper">




    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper">
      <!-- Content Header (Page header) -->
  
  
      <!--الاحصائيات-->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">اجمالي عدد الكتب</h3>                    
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span class="text-bold text-lg">{{allbooks}}</span>
                      <span>اجمالي عدد الكتب</span>
                    </p>  
                  </div>
                  <!-- /.d-flex -->

                  <div class="position-relative mb-4">
                    <canvas id="visitors-chart" height="200"></canvas>
                  </div>  
                </div>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            {% for book in books %}
            {% if book.price != None %}
            {% if book.state == 'sold' %}
               <p  class="allprice"> {{book.price}} </p>
               {% endif %}  
               {% endif %}  
               {% if book.total_days != None %}
               {% if book.state == 'rental' %}
               <p  class="allprice" > {{book.total_days}} </p>
               {% endif %}
               {% endif %}
             {% endfor %}
             <!-- the sold books -->
             {% for book in books %}
             {% if book.state == 'sold' %}
             {% if book.price != None %}
              <p class="total_sold">{{book.price}} </p>
             {% endif %}
             {% endif %}
             {% endfor %} 
             <p class = "final_sold_books"> </p>
             <!-- the rental books -->
             {% for book in books %}
             {% if book.state == 'rental' %}
             {% if book.total_days != None %}
             <p class ="total_rental">{{book.total_days}} </p>
             {% endif %}
             {% endif %}
             {% endfor %}
             <p class = "final_rental_books"></p>
 
            
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header border-0">
                  <div class="d-flex justify-content-between">
                    <h3 class="card-title">الارباح</h3>   
                  </div>
                </div>    
                <div class="card-body">
                  <div class="d-flex">
                    <p class="d-flex flex-column">
                      <span id="totalsalarys" class="text-bold text-lg" >$</span><br></p>
                  </div>
                  <!-- /.d-flex -->
  
                  <div class="position-relative mb-4">
                    <canvas id="sales-chart" height="160"></canvas>
                  </div>
  
                  <div class="d-flex flex-row justify-content-end">
                    <span class="mr-2">
                      <i class="fas fa-square text-primary"></i> الارباح من بيع الكتب
                      <p id="soldtotals"></p>     
                    </span>
                    <span>
                      <i class="fas fa-square text-gray"></i> الارباح من استعارة الكتب
                      <p id="rentedtotals"></p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
        
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
  
          <!-- form add books -->
          <div class="row m-1 mb-3">   
            <a href="#bookform" class="btn btn-primary" data-toggle="collapse">+ اضافة كتاب</a>
          </div>
          
          <div id="bookform" class="card card-primary collapse">
            <div class="card-header">
              <h3 class="card-title">اضافة كتاب</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST" enctype="multipart/form-data"  > 
              <div class="card-body"> 
                {% csrf_token %}
               {{form}}
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">اضافة</button>
              </div>
            </form>
          </div>
  
                <!-- /.card -->
          </div>
          <!-- end form add books -->
  
  
          <!-- تصنيفات-->
  
          <div class="row justify-content-center mb-3">
            <div class="col-4 ">
              <ul class="nav">
                {% for cat in category|slice:'4' %}
                <li class="nav-item cat{{cat.id}} ">
                  <a id="" class="nav-link bg-primary" href="#"> {{cat.name}} </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- books -->

          <div class="row">
          {% for book in books %}
          <!-- الكتب -->
              <div id="" class="col-md-4 bookhide book{{book.category.id}} book{{book.state}} ">
                  <!-- Widget: user widget style 1 -->
                <div id="" class="card card-widget widget-user ">
                  <!-- Add the bg color to the header using any of the bg-* classes -->
                <!-- قائمة منسدلة -->
                <div style="position: absolute;" class="btn-group">   
                  <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'update' book.id %}">تعديل</a>
                    <a class="dropdown-item" href="{% url 'delete' book.id %}">حذف</a>
                <!-- Button trigger modal -->
                  </div>
                </div>
                {% if book.photo_book %}
                <div style="background :url( {{book.photo_book.url}} ); background-size :cover" class="widget-user-header bg-info">
                {% else  %}
                <div   class="widget-user-header bg-info"></div>
                  {% endif %}
                <h3 class="widget-user-username"> {{book.title}} </h3>
                  <h5 class="widget-user-desc"> {{book.author}} </h5>
                </div>
                <div class="widget-user-image">
                  {% if book.photo_author %}
                  <img style="width:100px; height: 100px;" class="img-circle elevation-2" src="{{book.photo_author.url}}" alt="User Avatar">
                  {% endif %}
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header"> {{book.pages}} </h5>
                        <span class="description-text">صفحة</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                        <!-- /.col -->
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        {% if book.price %}
                        <h5 class="description-header">${{book.price}}</h5>
                        <span class="description-text">السعر</span>
                        {% elif book.retal_price_day %}
                        <h5 class="description-header">${{book.retal_price_day}}</h5>
                        <span class="description-text"> في اليوم  </span>
                        {% endif %}
                      </div>
                      <!-- /.description-block -->
                    </div>
                        <!-- /.col -->
                    <div class="col-sm-4">
                      <div class="description-block">
                        {% if book.state == 'available' %}
                        <h5 class="description-header text-success"> {{book.state}} </h5>
                        <span class="description-text">الحالة</span>
                        {% elif book.state == 'rental' %}
                        <h5 class="description-header text-warning"> {{book.state}} </h5>
                        <span class="description-text">الحالة</span>
                        {% else %}
                        <h5 class="description-header text-danger"> {{book.state}} </h5>
                        <span class="description-text">الحالة</span>
                        {% endif %}
                      </div>
                      <!-- /.description-block -->
                    </div>
                        <!-- /.col -->
                  </div>
                      <!-- /.row -->
                </div>
                </div>
                  <!-- /.widget-user -->
              </div>
          <!-- نهاية الكتاب -->
          {% endfor %}
                      <div class="row">
                <div class="col text-center">
                  <!--اضف صورة هنا في حالة عدم وجود كتب-->   
                </div>
              </div>
          </div>    
      </div>
    </div>
        <!-- /.container-fluid -->
  </div>
      <!-- /.content -->
</div>
    <!-- /.content-wrapper -->
  



  </div>
  <!-- ./wrapper -->


{% endblock %}  