{% load static %}
<!DOCTYPE html>
<html  lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  
    <title>Nouvil</title>
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'plugins/jquery_datepacker/jquery_ui.css' %}">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte_ar.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  </head>
  <body dir="rtl" class="hold-transition sidebar-mini">
{% include 'parts/nav.html' %}
{% include 'parts/sidebar.html' %}
{% block content %}



{% endblock %}
{% include 'parts/footer.html' %}
  </div>









<!-- REQUIRED SCRIPTS -->
<script src="{% static 'plugins/jquery_datepacker/jquery_ui.js'  %}"></script>

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js'  %}"></script>
<!-- Bootstrap -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'  %}"></script>
<!-- AdminLTE -->
<script src="{% static 'dist/js/adminlte.js'  %}"></script>
<!-- OPTIONAL SCRIPTS -->

<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

<script src="{% static 'dist/js/demo.js"></script>
<!--<script src="dist/js/pages/dashboard3.js'"></script>
-->

<script>
  $(document).ready(function (){
    var total = 0;
    $(".allprice").each(function(){
      $(this).hide()
      var salary = $(this).text();
      total += parseInt(salary);
    });
  
    $("#totalsalarys").text($("#totalsalarys").text()+total);
  });

  $('#rental-day').keyup(function(){
    $('#total-days').val($('#rental-day').val() * $('#rental-price').val())
  });


  var total1 = 0;
  $(".total_sold").each(function(){
    $(this).hide()
    var salary1 = $(this).text();
    total1 += parseInt(salary1);
  });
  $(".final_sold_books").text(total1);
  $(".final_sold_books").hide();

  var total2 = 0;
  $(".total_rental").each(function(){
    $(this).hide()
    var salary2 = $(this).text();
    total2 += parseInt(salary2);
  });
  $(".final_rental_books").text(total2);
  $(".final_rental_books").hide();
</script>
<script>
  $('#catinput').hide()
  $('#addcat').click(function (){
    $('#catinput').show()
  });
  $('#backcat').click(function (){
    $('#catinput').hide()
  });
</script>
<script>
  {% for book in books %}
    $(".cat{{book.category.id}} ").click(function(){
      $(".bookhide").hide()
      $(".book{{book.category.id}}").show()
  });

    $(".state{{book.state}}").click(function(){
      $(".bookhide").hide()
      $(".book{{book.state}}").show()
    });
  {% endfor %}
</script>
<script>
  $(document).ready(function(){
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    });
/*here i will make loop for get id category and status for contact with books */
/*حساب اجمالي الارباح و هي عبارة عن حاصل جمع سعر الكتب عند البيع بالاضافة الى سعر استعارة الكتاب*/
  });
</script>

<script>
 
  


$(function () {
  'use strict'
 
  var ticksStyle = {
    fontColor: '#495057',
    fontStyle: 'bold'
  }

  var mode      = 'index'
  var intersect = true

  var $salesChart = $('#sales-chart')

  var salesChart  = new Chart($salesChart, {

    type   : 'bar',
    
    data   : {

      labels  : [
          

        'تفاصيل الارباح',

      ],


      datasets: [
        {
          backgroundColor: '#007bff',
          borderColor    : '#007bff',
          data           : [ 
                $(".final_sold_books").text(),
          ]
        },
        {
          backgroundColor: '#ced4da',
          borderColor    : '#ced4da',
          data           : [ 
          $(".final_rental_books").text(),
          ]
        }
      ]
    },

   
   
   options: {
      maintainAspectRatio: false,
      tooltips           : {
        mode     : mode,
        intersect: intersect
      },
      hover              : {
        mode     : mode,
        intersect: intersect
      },
      legend             : {
        display: false
      },
      scales             : {
        yAxes: [{
          // display: false,
          gridLines: {
            display      : true,
            lineWidth    : '4px',
            color        : 'rgba(0, 0, 0, .2)',
            zeroLineColor: 'transparent'
          },
          ticks    : $.extend({
            beginAtZero: true,

            // Include a dollar sign in the ticks
            callback: function (value, index, values) {
              if (value >= 1000) {
                value /= 1000
                value += 'k'
              }
              return '$' + value
            }
          }, ticksStyle)
        }],
        xAxes: [{
          display  : true,
          gridLines: {
            display: false
          },
          ticks    : ticksStyle
        }]
      }
    }
  });
  
 var pieChart = document.getElementById('visitors-chart').getContext('2d')

  var myPieChart = new Chart(pieChart, {
    type: 'pie',
    data: {
      datasets: [{
        data: ['{{availableBooks}} ','{{soldBooks}}','{{rentalBooks}}'],
        backgroundColor :["#27c100","#f3545d","#fdaf4b"],
        borderWidth: 10,
        
      }],
      labels: ['Available', 'Sold', 'Rented'] 
    },
    options : {
      responsive: true, 
      maintainAspectRatio: false,
      legend: {
        position : 'bottom',
        labels : {
          fontColor: '#000',
          fontSize: 15,
          usePointStyle : true,
          padding:30
        }
      },
      pieceLabel: {
        render: 'percentage',
        fontColor: 'white',
        fontSize: 14,
      },


    }
  })

})


 
</script>

</body>
</html>
